
ul.receipts {
    list-style:none;
    margin: 0;
    padding: 9px;
    border: 1px solid #888888;
    width: 600px;
}

ul.receipts > li {
    padding: 9px;
    margin-bottom: 9px;
    width: 580px;
    border: 1px solid #888888;
}

ul.receipts > li:last-child {
    margin-bottom: 0px;
}

ul.receipt {
    list-style:none;
    padding: 9px;
    width: 560px;
    border: 1px solid #888888;
}

ul.receipt > li {
    margin: 0;
    padding: 0;
}
